*.exe
*.sdf
Release/
Debug/
*.log
*.opensdf
*.suo
obj/
pkg/
.vs/
*.so
docker/dahua-sdk/sdk/
docker/dahuanvr-sdk/sdk/
docker/hikvisionnvr-sdk/sdk/
docker/hikvision-sdk/sdk/
.idea/
target/
*.iml
.setting/
.vscode/
*/.setting/
.xmake/
.project
